@model HomeModel
@{
    ViewData["Title"] = "Produtos a venda";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <p>Papelaria Zaccaro agradece sua visita </p>
</div>
<h1>Produtos a venda </h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Produto</th>
            <th scope="col">Preço</th>
            <th scope="col">Unidades</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Lapiseira</td>
            <td>R$ 15,00</td>
            <td>150 unidades</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Mochila</td>
            <td>R$ 70,00</td>
            <td>80 unidades</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Pacote de Papel Sulfite A4 50un</td>
            <td>R$ 20,00</td>
            <td>100 unidades</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Caneta Bic Azul</td>
            <td>R$ 2,00</td>
            <td>250 unidades</td>
        </tr>
         <tr>
            <th scope="row">5</th>
            <td>Kit Stabilo 12 Un</td>
            <td>R$ 80,00</td>
            <td>50 unidades</td>
        </tr>
         <tr>
            <th scope="row">6</th>
            <td>Caixa de lapis de cor Faber Castell</td>
            <td>R$ 60,00</td>
            <td>40 unidades</td>
        </tr>
    </tbody>
</table>